@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}

.tm-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.79em !important;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100vw;
    text-align: center;
    font-size: calc(1vw + 1vh + .5vmin);
}

.tm-text {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 4.3vw !important;
    padding-top: 150px;
    width: 100%;
    text-align: center;
    font-size: calc(1vw + 1vh + .5vmin);
}

.tm-icon {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 2.3vw !important;
    padding-top: 0;
    width: 100%;
    text-align: center;
    font-size: calc(1vw + 1vh + .5vmin);
}

.tm-container,.tm-about-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70vw;
    margin: 0 auto;
    padding: 4.7px
}

.tm-coming {
    max-width: 70vw;
    height: 80vh;
    background-image: url('https://images.pexels.com/photos/1537008/pexels-photo-1537008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: cover;
}

.tm-contact {
    max-width: 70vw;
    height: 80vh;
    background-image: url('https://images.pexels.com/photos/33999/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: cover;
}

.tm-soon {
    width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.69);
}

.tm-contact {
    max-width: 70vw;
    height: 80vh;
    background-image: url('https://images.pexels.com/photos/33999/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: cover;
}

.A,.B,.C{
    width: 200px;
    height: 200px;
    margin: 5px;
}

.A {
    background-image: url('https://as1.ftcdn.net/jpg/00/91/36/08/500_F_91360899_hWULe65PVfvGdSwaS1IZcMdMC2xUkVWI.jpg');
    background-size: cover;
}

.B {
    background-image: url('https://images.pexels.com/photos/1203819/pexels-photo-1203819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
}

.C {
    background-image: url('https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
}

.D {
    width: 200px;
    height: 220px;
    margin: 5px;
    background-image: url('https://images.pexels.com/photos/1038935/pexels-photo-1038935.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}

.E,.F,.H{
    width: 200px;
    height: 200px;
    margin: 2px 5px 5px 5px;
}

.E {
    background-image: url('https://images.pexels.com/photos/1594932/pexels-photo-1594932.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
}

.F {
    background-image: url('https://images.pexels.com/photos/326424/pexels-photo-326424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
}

.H {
    background-image: url('https://as2.ftcdn.net/jpg/01/16/87/79/500_F_116877980_LZ7PeXKXRChUAdi89Dn8DxshK0zlP9Lb.jpg');
    background-size: cover;
}

.G {
    width: 200px;
    height: 240px;
    margin: 0 5px 30px 5px;
    background-image: url('https://images.pexels.com/photos/33283/stack-of-books-vintage-books-book-books.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
}

.tm-about {
    width: 400px;
    height: 440px;
    margin: 0 5px 30px 5px;
    background-image: url('https://images.pexels.com/photos/1005644/pexels-photo-1005644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
}

.tm-hobbies {
    /* font-size: 1.07vw !important;  */
    width: 400px;
    max-height: 440px;
    padding: 0 10px ;
    margin: 0 5px 30px 5px;
}

.tm-link>a>p {
    font-size: 1.63em !important;
    text-align: center;
    margin-top: 90px;
    color: #fff;
}


.navbar {
    background-color: #676767 !important;
    font-family: 'Montserrat', sans-serif !important;
    max-width: 70vw !important;
    margin: 10px auto !important;
}

@media only screen and (max-width: 768px) {
    .tm-coming,.tm-contact,.tm-soon {
        max-height: 40vh;
    }

    .tm-name {
        font-size: 3.3vw !important;
    }
    .tm-text {
        padding-top: 100px;
    }
}
.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.79em !important;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 300px;
    max-width: 100vw;
    background-color: grey;
    text-align: center;
    font-size: calc(1vw + 1vh + .5vmin);
}

@media only screen and (max-width: 768px) {
    .tm-hobbies {
        font-size: 1.3vh;
    }

    .tm-about {
        max-height: 50vh;
    }
}

